<h2><%= trees %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime perspiciatis voluptatem laudantium modi accusamus, assumenda nobis, odio quibusdam blanditiis ut quae reiciendis voluptatibus autem ratione cupiditate sed quaerat sequi dignissimos.</p>